@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@800&display=swap');

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  /* Only use serif or san serif for your design */
  font-size: 18px;
  font-weight: 400;
  background-color: #def2f1;
}

h1,
h2,
h3,
section,
p,
img {
 margin-bottom: 35px;

}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
}

img {
  border: 1px solid #ccc;
  padding: 5px;
}

#geography {
  color: red;
}

a:hover {
  color: red;
}

nav li {
  color: orange;
}

h1 {
  font-size: 18px;
}
