@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@800&display=swap');

*  {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  /* Only use serif or san serif for your design */
  font-size: 22px;
  line-height: 2.5rem;
  background-color: #def2f1;
}

ul,
section {
  margin-bottom: 60px;
}

p {
  margin-bottom: 24px;
}

article {
  margin-bottom: 35px;
}

cite {
  font-size: 18px;
  color: #555555;
  line-height: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-bottom: 5px;
}

h1 {
  font-size: 40px;
}

h2 {
font-size: 32px;
margin-bottom: 14px;
}

h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #55bbff;
}

a:hover {
color: 5555ff;
text-decoration: underline;

}

a:visited {
  color: b855ff;
}

a:active {
  color: b855ff;
  opacity: 0.5;
}
